<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>NAMI-VOS| Donation</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-select.min.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="javascripts/donations.js"></script>
  </head>
  <%- include('navbar'); %>
  <body onload="setup();" class="container-fluid ">
    <div class="row">
      <div class="donationForm-container col-xs-6 col-md-offset-3">
        <div class="panel-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>New Donation</h4>
            </div>
            <div class="panel-body">
              <div id="create_event_form">
                <div class="row">
                  <div class="col-xs-5">
                    <label for="date">Date:</label>
                    <input class="form-control" type="text" id="datepicker" name="datepicker">
                  </div>
                  <div class="col-xs-5 col-xs-offset-1">
                    <label for="amount">Amount:</label>
                    <input class="form-control" type="number" placeholder="0.00" name="amount" id="amount" required/>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <label class="block-label">Type:</label>
                    <select class="selectpicker" name="type" id="type" required>
                      <option value=>- Select One -</opton>
                      <!-- ajax populated -->
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <label>Method:</label>
                    <select class="selectpicker" name="method" id="method" required>
                      <option value=>- Select One -</opton>
                      <!-- ajax populated -->
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <label>Donor:</label>
                    <select class="selectpicker" name="donor" id="donor" required>
                      <option value=>- Select One -</opton>
                      <!-- ajax populated -->
                      <option value=>New Donor</opton>
                    </select>
                  </div>
                  <div class="col-xs-6">
                    <label>Frequency:</label>
                    <select class="selectpicker" name="frequency" id="frequency" required>
                      <option value="single">single</option>
                      <option value="recurring">recurring</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-11">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" name="comment" id="comment" placeholder="comments..."></textarea>
                  </div>
                </div>
                <div class = "row"
                  <div class="col-xs-12">
                    <div class ="text-right" >
                      <button type="button" class="btn btn-primary" onclick="postDonation();" id="donation-btn">Submit</button>
                    </div>
                  </div
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row hide" id="error-msg">
          <h3 class="text-center">Error Submitting Donation</h3>
        </div>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
