<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); %>
    <title>App | Home</title>
    <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <%- include('navbar'); %>
  <body class="container-fluid">

  </body>
  <%- include('footer'); %>
</html>
