<!-- make a cool footer -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-4" id = "foot-left">
    </div>

    <div class = "col-xs-4" id = "foot-center">
    </div>

    <div class = "col-xs-4" id = "foot-right">
    </div>
  </div>
</div>
