<!DOCTYPE html>
<head>
  <%- include('header'); %>
  <title>NAMI-VOS</title>
  <script type="text/javascript" src="javascripts/home.js"></script>
</head>
<body onload="">
  <div class="container">
    Logged In
  </div>
  <%- include('footer'); %>
</body>
