<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <title>NAMI-VOS</title>
  <script type="text/javascript" src="javascripts/home.js"></script>
</head>

<%- include('navbar'); %>
<body>
  <div class = "container content-container">
    <div class = "row">
      <div class = "col-md-2"></div>
      <div class = "center-container col-md-8">

        <div class = "row">
          <div class = "well">
          </div>
        </div>

        <div class = "row">
          <div class = "well">
            <div class = "col-md-3">
              <div id = "graphMoney">

              </div>
            </div>
            <div class = "col-md-1"></div>
            <div class = "col-md-3">
              <div id = "graphParticipents">

              </div>
            </div>
            <div class = "col-md-1"></div>
            <div class = "col-md-3">
              <div id = "servicePopularity">

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class = "col-md-2"></div>
  </div>
</body>
<%- include('footer'); %>
