<div id="participants-additional-table-div">
  <table id="participants-additional-modal-table" class="table" style="background-color: #FFFFFF; ">
    <thead>
      <thclass="text-left basic-coloring">Past Programs</th>
      <thclass="text-right basic-coloring">Dates</th>
    </thead>
    <tbody id="member-modal-table-body">
      <tr>
        <td class="text-left basic-coloring">Last Contacted</td>
        <td class="text-right basic-coloring">
          <input type="text" class="basic-coloring form-control text-right" placeholder="Last Contacted" required>
        </td>
      </tr>
    </tbody>
  </table>
</div>
