<div id="member-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="member-modal-title" class="modal-title basic-coloring">modal_title_text</h4>
      </div>
      <div id="member-modal-body" class="modal-body" style="background-color: #F0F0F0;">
        <table id="member-modal-table" class="table" style="background-color: #FFFFFF; ">
          <tbody id="member-modal-table-body">
            <tr>
              <td class="text-left basic-coloring">First Name</td>
              <td id="member-modal-table-first-name" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="First Name" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Last Name</td>
              <td id="member-modal-table-last-name" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Last Name" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Email</td>
              <td id="member-modal-table-email" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Email" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Phone</td>
              <td id="member-modal-table-phone" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Phone" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Address</td>
              <td id="member-modal-table-address" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Address" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Company</td>
              <td id="member-modal-table-company" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Company" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Last Contacted</td>
              <td id="member-modal-table-last-contacted" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="Last Contacted" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Communication Preferences</td>
              <td id="member-modal-table-communication-preferences" class="text-right basic-coloring">
                <input type="text" class="basic-coloring form-control" placeholder="First Name" required>
              </td>
            </tr>
            <tr>
              <td class="text-left basic-coloring">Engagement Interests</td>
              <td id="member-modal-table-engagement-interests" class="text-right basic-coloring">member_engagement_interests</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="member-modal-footer" class="modal-footer">
        <button id="member-modal-save-button" type="button" class="btn btn-secondary" data-dismiss="modal">Save and Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
