<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <title>NAMI-VOS | Participants</title>
  <script type="text/javascript" src="javascripts/participants.js"></script>
</head>
<%- include('navbar'); %>
<body>
  <div class="container">
    <div id="participants-title" class="basic-coloring">
      <h2>Participants</h2>
    </div>
    <div id="participants-table">
      <table class="table table-hover table-sm table-inverse">
        <thead id="participants-table-head">
          <tr>
            <th class="basic-coloring">Name</th>
            <th class="basic-coloring">Email</th>
            <th class="basic-coloring">Last Contacted</th>
          </tr>
        </thead>
        <tbody id="participants-table-body">
          <tr>
            <td id="participants-add" colspan="3" class="text-center">Add Participant</td>
          </tr>
          <tr onclick="GetParticipantInfo(<members_id>);">
            <td>Tester, Testingson</td>
            <td>test@mail.com</td>
            <td>Epoch time, 1970</td>
          </tr>
          <tr>
            <td>Tester, Testingson</td>
            <td>test@mail.com</td>
            <td>Epoch time, 1970</td>
          </tr>
          <tr>
            <td>Tester, Testingson</td>
            <td>test@mail.com</td>
            <td>Epoch time, 1970</td>
          </tr>
          <tr>
            <td>Tester, Testingson</td>
            <td>test@mail.com</td>
            <td>Epoch time, 1970</td>
          </tr>
          <tr>
            <td>Tester, Testingson</td>
            <td>test@mail.com</td>
            <td>Epoch time, 1970</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
<%- include('footer'); %>
