<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('header'); %>
  <title>NAMI-VOS | Participants</title>
  <script type="text/javascript" src="javascripts/participants.js"></script>
</head>
<%- include('navbar'); %>
<body>
  <div class="container">

  </div>
</body>
<%- include('footer'); %>
