body {
  background-color: #fcfcfc;
  color: #263238;
}


.wrong-input{
  color: red;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#login-img{
  max-width:30%;
  max-height: 30%;
}

.navbar-logo{
  max-height:100px;
}

.navbar-brand {
  max-width : 8rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.hpInfo1-container{
  background-color:gray;
}

.hpInfo2-container{
  background-color:gray;
}

#account{
  padding-top:1rem;
}

.pointer{
  cursor:pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #002749;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #002749;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #002749;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #002749;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #002749;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #002749;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #FFFFFF;
    background-color: #002749;
  }
}
