body {
  background-color: #fcfcfc;
  color: #263238;
}


.wrong-input{
  color: red;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#login-img{
  max-width:30%;
  max-height: 30%;
}

.navbar-logo{
  max-height:100px;
}

.navbar-brand {
  max-width : 8rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.hpInfo1-container{
  background-color:gray;
}

.hpInfo2-container{
  background-color:gray;
}

#account{
  padding-top:1rem;
}
